/* css reset */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  /* to set root to 10px */
  font-size: 62.5%;
}

:root {
  --quiz-bgcolor: #6b7280;
}

body {
  background-color: var(--call-to-action);
}

.quiz-bgcolor {
  background-color: var(--off-white-b);
}

.quiz-cards-container {
  display: flex;

  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

#political-ques {
  background-image: url(/assets/political.jpg);
}

#food-ques {
  background-image: url(/assets/food.jpg);

  background-position: 50%;
}

#moon-ques {
  background-image: url(/assets/moon.jpg);

  background-position: 50%;
}

.quiz-cards-container {
  display: flex;
}

.heading-div {
  text-align: center;

  color: var(--off-white-b);
}

.heading-div h1 {
  font-size: 5rem;

  padding: 2rem;

  color: var(--off-white-b);
}

.header-ascent-quiz {
  background: -webkit-linear-gradient(left, var(--indigo), var(--highlight));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* styles question block */

.questions-container {
  display: flex;

  flex-direction: column;

  align-items: center;
}

.quiz-question-block {
  background-color: var(--call-to-action);

  border-style: solid;
  border-color: var(--quiz-bgcolor);

  color: var(--off-white-b);
  width: 60rem;

  border-radius: 8px;

  display: flex;

  flex-direction: column;

  padding: 1rem;

  gap: 15px;
}

.info-div {
  display: flex;

  justify-content: space-between;
}

.question-div {
  color: var(--off-white-b);
}

.options-div {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.q-option {
  display: flex;

  align-items: center;

  justify-content: center;
  width: 100%;
}

.info-div-dark {
  color: var(--quiz-bgcolor);
}

.info-div-light {
  color: var(--off-white-b);
}

.default-btn {
  color: var(--off-white-b);
  border-style: solid;
  border-color: var(--quiz-bgcolor);

  background-color: var(--call-to-action);
}

.correct-btn {
  color: var(--call-to-action);
  border-style: solid;
  border-color: var(--indigreen);

  background-color: var(--indigreen);
}

.wrong-btn {
  color: var(--call-to-action);
  border-style: solid;
  border-color: var(--red-light);

  background-color: var(--red-light);
}
